* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator {
    width: 340px;
    height: 310px;
    margin: 70px 0 0 30px;
    border-radius: 8%;
    background-color: antiquewhite;
}
.cal {
    font-size: 23px;
    text-align: center;
    padding: 10px;
    color: rgb(165, 27, 27);
}
.calculation {
    margin: 0 5px 0 10px;
}
label {
    line-height: 30px;
    color: rgb(0, 0, 0);
}
.btn {
    width: 165px;
    margin: 20px 0 0 60px;
    word-spacing: 5px;
}
button {
    cursor: pointer;
    background-color: antiquewhite;
    margin-left: 2px;
    border: 0;
}
.btn:hover {
    width: 265px;
}
button:hover {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
    transition: 0.5s;
    border: 0.3px;
    border-radius: 20%;
    background-color: rgba(165, 42, 42, 0.87);
}
#result {
    font-size: 4.5mm;
    margin: 90px 0 0 70px;
    color: brown;
}
